<!-- #modalMessageReply -->

<div class="modal fade" id="modalMessageReply" tabindex="-1" role="dialog" aria-labelledby="replyMessage">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/send_email" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title message_title" id="replyMessage">Title</h2>
        <h4  class="message_sender">Sender</h4><small class="message_date">27/02/2014</small>
      </div>
      <div class="modal-body">
      <p class="message_content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sapiente excepturi ipsa alias ipsum! Reprehenderit, delectus aspernatur culpa quibusdam enim, architecto temporibus, nemo cum aliquam ipsam, molestiae magnam sunt soluta.
      </p>
      <div class="message_attachment"></div>


<div class="form-group">
    <label for="exampleInputEmail1">To</label>
    <input id="reply_email1" name="email" type="email" class="form-control" id="exampleInputEmail1" value="sender@email.com">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input id="reply_title" type="text" class="form-control" name="title" value="RE: Reminder" id="exampleInputPassword1">
  </div>
  <div class="form-group"><textarea name="content" class="form-control" rows="7"></textarea></div>
  
  <div class="form-group"><input type="file" class="form-control" name="attachment" ></div>



      </div>

      <div class="modal-footer">

       <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
        <input type="submit" name="send" value="Send" class="btn btn-default pull-left"></input>
        </div>
        </form>
    </div>
  </div>
</div>

<!-- #modalMessageReply -->