<!-- modal message -->

<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabelMessage">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h2 class="modal-title message_title" id="myModalLabelMessage">Title</h2>


        <h4 class="message_sender">Sender</h4><small class="message_date">27/02/2014</small>
        <div class="buttons_mark"><button type="button" class="btn btn-default" id="mark_trash" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-default" id="mark_important" data-dismiss="modal">Flag</button>
        <button type="button" class="btn btn-default" id="mark_spam" data-dismiss="modal">Mark As Spam</button></div>
        
      </div>
      <div class="modal-body">
      <p class="message_content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, culpa. Reprehenderit libero adipisci, voluptates ipsam, ad magnam in mollitia id optio eum esse similique unde repudiandae, ex aut odio aliquid.
      </p>
      <div class="message_attachment"></div>

      </div>

      <div class="modal-footer">

        <a href="#" type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#modalMessageReply">Reply</a>
        

        <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#modalMessageForward">Forward</button>
    
        
      </div>
    </div>
  </div>
</div>

<!-- #modalMessage -->