<!-- Page Content -->
<div class="wrap">
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-lg-12">
              <h1>Settings</h1>

                <p>
	                To fetch emails from the university servers you might need the following information:
	      			</br>
	      			</br>
	                <b>university username</b> and <b>password</b></br>
	                <b>Server:</b> mailgate.uni-weimar.de</br>
	                <b>Port:</b> 587</br>
                </p>
                
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->