<!-- Page Content -->
<div class="wrap">
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-lg-12">
              <h1>Settings</h1>
			
              	<h3>Language</h3>
				<div class="form-group">
	                <label for="Lang">Language: </label>
	                <select id="lang" name="lang">
		                <option value="English">English<span class="flag-icon flag-icon-gb-eng"></span></option>
		                <option value="German">Deutsch<span class="flag-icon flag-icon-de"></span></option>
		                <option value="Spanish">Español<span class="flag-icon flag-icon-es"></span></option>
	              	</select>
	            </div>
	            </br>
              	<h3>Signature</h3>
              	<textarea class="form-control" rows="4">Bauhaus-Universität Weimar / Geschwister-Scholl-Straße 8 / 99423 Weimar</textarea>
              	</br>
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Save</button>
				</br>
				</br>

              	<h3>Forwarding Information</h3>
                <p>
	                To fetch emails from the university servers you might need the following information:
	      			</br>
	      			</br>
	                <b>university username</b> and <b>password</b></br>
	                <b>Server:</b> mailgate.uni-weimar.de</br>
	                <b>Port:</b> 587</br>
                </p>
                
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->